
<h1>INTERNSHIP SIGNUP FORM</h1>
<a>Prepare for your career with a Project Management, Web-Development, Graphic Design, or Digital Marketing Internship at Northern.</a>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Your Email Address *">
    <select class="form-control" name="list" placeholder="Your Interests">
      <option>a</option>
      <option>a</option>
      <option>a</option>
      <option>a</option>
    </select>
  </div>
</form>
<button type="button" class="btn btn-primary">Primary</button>